@import "bootstrap/scss/bootstrap";

::-webkit-scrollbar { /* chrome based */
    width: 0px;  /* ширина scrollbar'a */
    background: transparent;  /* опционально */
}

.text-muted {
    color: #6c757d !important;
}

#separator {
    position: relative;
}

#vertical-line {
    position: absolute;
    background: black;
    top: 0;
    bottom: 0;
    width: 1px;
}

#feeds-container {
    height: 70vh;
    overflow: hidden;
    display: block;
}

.posts-list, .feeds-list {
    height: 70vh;

    overflow: scroll;
}

.posts-list {
    font-weight: 700;
}

.hide {
    display: none !important;
}

.title {
    padding-left: 1rem;
}

.feed {
    transition: all 0.5s;
}

.feed:hover:not(.choosed){
    transform: scale(1.05);
}

.choosed {
    scale: 1.05;
}

.bg-light {
    background: white;
}

#modal {
    word-wrap: break-word;    
    word-break: break-word;
}



.w-65 {
    width: 65% !important;
}