@import "bootstrap/scss/bootstrap";

.text-muted {
    color: #6c757d !important;
}

#separator {
    position: relative;
}

#vertical-line {
    position: absolute;
    background: black;
    top: 0;
    bottom: 0;
    width: 1px;
}

.title {
    padding-left: 1rem;
}

.feed {
    transition: all 0.5s;
}

.feed:hover:not(.choosed){
    transform: scale(1.05);
}

.choosed {
    scale: 1.05;
}